.dropzone-align {
  margin: auto;
  position: absolute;
  top: 75px; left: 500px; right: 500px;
  height: 20px;
}

.dropzone-box {
  border: 1px solid black;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  cursor: pointer;

}

.title-align {
  position: fixed;
  left: 50px;
}